<app ng-app="myApp" ng-controller="myCtrl">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {

            $scope.temp = 12;


            //data
            $scope.information = [{
                    date: '2018-02-01',
                    temperature: '40'
                },
                {
                    date: '2018-02-01',
                    temperature: '8'
                },
                {
                    date: '2018-02-01',
                    temperature: '0'
                },
                {
                    date: '2018-02-01',
                    temperature: '10'
                }
            ];


            //ADD
            $scope.insertTemp = function (temp,isValid){

                if(isValid){
                    $scope.information.push({date:new Date(),temperature:temp});
                    console.log("====="+temp);
                    console.dir($scope.information);
                }
            }


        });
    </script>

    <form class="form-horizontal" name="temperatureForm" novalidate>
        <!--Input Data-->

        <div class="form-group col-md-12" ng-class="{'has-error': temperatureForm.inputTemNumber.$invalid &&
                                            temperatureForm.inputTemNumber.$dirty}">
            <div class="col-md-4">
                <input class="form-control" id="inputTemNumber" name="inputTemNumber" type="text" placeholder="temperature(required )"
                       ng-model="temp" required />
            </div>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="insertTemp(temp,temperatureForm.$valid)">
                    ADD
                </button>
            </span>
        </div>

        <div class="col-md-12">
            <span ng-show="temperatureForm.inputTemNumber.$error.required">
                Product name is required
            </span>
        </div>
    </form>
</app>