<app ng-app="myApp" ng-controller="myCtrl">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {

            $scope.temp = 12;


            //data
            $scope.information = [{
                date: '2018-02-01',
                temperature: '40'
            },
            {
                date: '2018-02-01',
                temperature: '8'
            },
            {
                date: '2018-02-01',
                temperature: '0'
            },
            {
                date: '2018-02-01',
                temperature: '10'
            }
            ];
        });
    </script>

    <body>

        <div >
            Name:
            <input ng-model="temp">
        </div>



        <p>Use the ng-model directive to bind the value of the input field to a property made in the controller.</p>


</app>