<app ng-app="myApp" ng-controller="myCtrl">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            var vm = this;
            $scope.temp = 12;

            //data
            $scope.information = [{
                date: '2018-02-01',
                temperature: '40'
            },
                {
                    date: '2018-02-01',
                    temperature: '8'
                },
                {
                    date: '2018-02-01',
                    temperature: '0'
                },
                {
                    date: '2018-02-01',
                    temperature: '10'
                }
            ];

            //ADD
            $scope.insertTemp = function (temp,isValid){

                if(isValid){
                    $scope.information.push({date:new Date(),temperature:temp});
                    console.log("====="+temp);
                    console.dir($scope.information);
                    $scope.runAllFunction();
                }
            }

            //DELETE
            $scope.delete = function (index) {
                $scope.information.splice(index, 1);
                $scope.runAllFunction();
            }

            //Average temperature
            $scope.average = function (array) {
                let sum = 0;
                for (let index = 0; index < array.length; index++) {
                    sum += array[index];
                }
                console.log(sum / array.length);
                return sum / array.length;
            }

            //Highest temperature
            $scope.highest = function (array) {
                let max = array[0];
                for (let index in array) {
                    if (max < array[index]) {
                        max = array[index];
                    }
                }
                console.log(max);
                return max;
            }

            //Lowest temperature
            $scope.lowest = function (array) {
                let min = array[0];
                for (let item in array) {
                    if (min > array[item]) {
                        min = array[item];
                    }
                }
                console.log(min);
                return min;
            }

            //Median temperature
            $scope.median= function(array) {
                array.sort(function (a, b) {
                    return a - b;
                });
                var half = Math.floor(array.length / 2);

                if (array.length % 2)
                {
                    console.log(array[half]);
                    return array[half];
                }
                else{
                    console.log((array[half - 1] + array[half]) / 2.0);
                    return (array[half - 1] + array[half]) / 2.0;
                }

            }

            $scope.createArrayTemperature = function (arr) {
                let newArray = [];
                for (let index = 0; index < arr.length; index++) {
                    newArray.push(parseInt(arr[index].temperature));
                }
                return newArray;
            }

            //delcear the variable for binding
            $scope.averageResult;
            $scope.highestResult;
            $scope.lowestResult;
            $scope.medianResult;

             //wrap all logic
            $scope.runAllFunction = function () {
                $scope.averageResult = $scope.average($scope.createArrayTemperature($scope.information));
                $scope.highestResult = $scope.highest($scope.createArrayTemperature($scope.information));
                $scope.lowestResult = $scope.lowest($scope.createArrayTemperature($scope.information));
                $scope.medianResult = $scope.median($scope.createArrayTemperature($scope.information));
            }

            //execute the logic
            $scope.runAllFunction();

        });
    </script>

    <form class="form-horizontal" name="temperatureForm" novalidate>
        <fieldset>
            <legend>Temperature</legend>
            <!--Input Data-->
            <div class="form-group col-md-12" ng-class="{'has-error': temperatureForm.inputTemNumber.$invalid &&
                                                temperatureForm.inputTemNumber.$dirty}">
                <div class="col-md-4">
                    <input class="form-control" id="inputTemNumber" name="inputTemNumber" type="text" placeholder="temperature(required )"
                           ng-model="temp" required />
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="insertTemp(temp,temperatureForm.$valid)">
                        ADD
                    </button>
                </span>
            </div>

            <div class="col-md-12">
                <span ng-show="temperatureForm.inputTemNumber.$error.required">
                    Product name is required
                </span>
            </div>
            <!--Statistic-->
            <div class="col-md-12">
                <div class="col-md-3">Average:<label ng-bind="averageResult| number : 1"></label>°c</div>
                <div class="col-md-3">Highest:<label ng-bind="highestResult| number : 1"></label>°c</div>
                <div class="col-md-3">Lowest:<label ng-bind="lowestResult| number : 1"></label> °c</div>
                <div class="col-md-3">MedianResult:<label ng-bind="medianResult| number : 1"></label>:°c</div>
            </div>

            <!--Table-->
            <div class="panel panel-danger">
                <div class="panel-heading" style="font-size:large">Temperature Log:
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Date</td>
                            <td>Temperature</td>
                            <td>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="info in information">
                            <td><label  ng-bind="info.date| date:'dd.MM.y'"></label></td>
                            <td><label  ng-bind="info.temperature"></label>°c</td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="delete($index)">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</app>